/*Container*/
.ContactUs {
    padding: 2rem 4rem;
    box-shadow: 4px 4px 7px rgba(94, 94, 94, 0.288), inset 2px 2px 5px rgba(136, 136, 136, 0.308);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*Label*/
.ContactUs h5 {
    font-size: 2em;
    font-family: BebasNeue;
    position: relative;
    margin: 0;
    padding: 0;
    color: #28b3cc;
    text-align: center;
    padding: 0 1rem .5rem 1rem;
    border-bottom: 3px solid #28b3cc;
    margin: 0;
}

.ContactUs p {
    font-size: 1.45em;
}


/*Social media banner*/
.ContactUs img {
    pointer-events: none;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Social media buttons*/
.SocialMediaButtons>div {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 4px 4px 7px rgba(177, 177, 177, 0.682), inset 2px 2px 5px rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 250ms all ease;
}

.SocialMediaButtons i {
    color: #000;
    color: #28b3cc;
    font-size: 1.5em;
    margin-left: 2px;
}

.SocialMediaButtons > div:hover {
    box-shadow: 4px 4px 7px rgba(158, 158, 158, 0.662), inset 2px 2px 2px rgba(214, 214, 214, 0.553);
}

/*Contact us methods*/
.ContactUs .ContactUsMethods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContactUs .ContactUsMethods a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-decoration: none;
    box-shadow: 4px 4px 7px rgba(213, 213, 213, 0.891), inset 2px 2px 5px rgb(218, 218, 218);
    padding: 1.5rem 0;
    width: 70%;
    transform: scale(1);
    transition: 350ms all cubic-bezier(0.215, 0.610, 0.355, 1);
    border-radius: 7px;
    border: 1px solid transparent;
}

.ContactUs .ContactUsMethods a i {
    color: #28b3cc;
    font-size: 1.75em;
}

.ContactUs .ContactUsMethods a span {
    color: #28b3cc;
    font-size: 1.15em;
}

.ContactUs .ContactUsMethods a:hover {
    transform: scale(1.025);
}

@media screen and (max-width: 992px){
    .ContactUs .ContactUsMethods a {
        width: 100%;
    }
}